.addConsumption-header {
    width: 80%;
    margin: 2rem auto 0;
    position: relative;
}

.addConsumption-header-title {
    font-weight: 700;
    color: var(--principal-color);
    font-size: 3rem;
    margin-bottom: 10px;
}

.addConsumption-body {
    height: 90%;
    display: flex;
    align-items: center;
}

.bill-selecter {
    margin-bottom: 2.5rem;
    padding: 1.3rem;
    font-family: var(--principal-font);
    font-size: 1.3rem;
    font-weight: 600;
    background: #FDFDFF;
    border: 1px solid #F2F5FF;
    box-shadow: 4px 8px 4px #F8F7F7;
    border-radius: 1rem;
    color: var(--secondary-color);

}

.consumption-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.date-selected{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 1rem;
    background-color: var(--principal-color);
    color: #fff;
    margin: 0 0 7rem;
}

.labels-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-family: var(--principal-font);
    color: var(--secondary-color);
    font-weight: bolder;
}

.labels-section label {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.labels-section .sublabel {
    margin: 0 0 1.5rem;
    font-size: 1.3rem;

}

.labels-section input {
    margin-bottom: 2.5rem;
    padding: 1.3rem;
    font-family: var(--principal-font);
    font-size: 1.3rem;
    font-weight: 600;
    background: #FDFDFF;
    border: 1px solid #F2F5FF;
    box-shadow: 4px 8px 4px #F8F7F7;
    border-radius: 1rem;
    color: var(--secondary-color);
}